@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    font-family: 'Noto Serif', serif;
}
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}